# Gradle stuff
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Ignore handy disk image stuff in project root
/*.dsk
/*.po
/*.do

# Ignore Eclipse stuff
.classpath
.project
.settings
bin
